@model IEnumerable<Data.WeatherForecast>;


@{
    ViewData["Title"] = "Home Page";
}

@if(Model != null)
{
    <p>
        @Model.FirstOrDefault().Summary
        @Model.FirstOrDefault().Date
        @Model.FirstOrDefault().TemperatureF
    </p>
}
else
{
    <p>
        Không có dữ liệu
    </p>
}