@model IEnumerable<Data.SinhVien>;

@{
    ViewData["Title"] = "Privacy Policy";
}
@if (Model != null)
{
    foreach(var item in Model)
    {
        <p>
            @item.id
            @item.name            
       </p>
    }
}
else
{
    <p>
        Không có dữ liệu
    </p>
}